<h1>Sign Up</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :role %><br>
    <%= f.select :role, [["Homeowner", 0], ["Tradesman", 1]] %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
